%h2 Total User Count:
%h3=@num_users

%h2 Total Order Count:
%h3=@num_orders

%h2 Total Product Count:
%h3=@num_products

%h2 Total Ordered Products:
%h3=@num_products_ordered

%hr

%h2 What can we do with this info? What can we do now that we're on the server?

%p Enter your answers directly into the DB in the ANSWERS table. Each question indicates a key with an example response.

%ul
  %li (key: team_name) Name your team!
  %li (key: cc_count) How many credit card numbers are stored in the db?
  %li (key: cc_plus_billing_count) How many credit cards WITH billing addresses?
  %li (key: dev_creds) How many different developer/API/other credentials can you find? Comma separate and enumerate.
  %li (key: user_creds_count) What about credentials for end users?
  %li (key: most_destructive_db_command) Most destructive database command that preserves your answer entries?
  %li (key: most_destructive_sh_command) Most destructive bash/shell command? Be prepared to restore if you run it ;)
  %li (key: place_100_dollar_order_command) What command would you use to place an order totalling at least $100 for each user?

%h3 Your answers:

%ul
  -@answers.each do |ans|
    %li="#{ans.key_name}: #{ans.display_key_value}"

%h3 Restoration instructions

%h4 The DB is gone/significantly modified? The DB data is too screwed up to work with?

%p To return the app data back to its original state:
%ul
  %li Go to the root directory of the app
  %li Run `RAILS_ENV=production bundle exec rake db:drop db:create db:migrate db:seed`
  %li If you get a permission error, maybe you should fix that ;)

%h4 App has stopped serving up results?

%p Verify that the server is running OR let's restore from snapshot (talk to "instructor").
